@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
/* ---------------------------------------------------------------------------------------------------------
 reset
--------------------------------------------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box; }

html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  overflow: auto; }

/* Typography */
body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", "helvetica", "arial", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #444444;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; }

@media screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 2.5vw; } }
@media print, screen and (min-width: 768px) {
  html {
    font-size: 62.5%; } }
* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

/* Layout */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block; }

/* Elements */
table {
  border-collapse: collapse;
  border-spacing: 0; }

ol,
ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: top; }

video {
  max-width: 100%;
  height: auto; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

/* Attributes */
[hidden] {
  display: none !important; }

[disabled] {
  cursor: not-allowed; }

:focus:not(:focus-visible) {
  outline: none; }

::selection {
  background: #0165ab;
  color: #ffffff; }

::-moz-selection {
  background: #0165ab;
  color: #ffffff; }

iframe {
  vertical-align: bottom; }

dfn {
  font-style: normal; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none; }

/* ---------------------------------------------------------------------------------------------------------
 layout
--------------------------------------------------------------------------------------------------------- */
.hidden {
  display: none !important; }

.visible {
  display: block !important; }

@media print, screen and (min-width: 768px) {
  .hidden-md {
    display: none !important; }

  .visible-md {
    display: block !important; } }
@media print, screen and (min-width: 992px) {
  .hidden-lg {
    display: none !important; }

  .visible-lg {
    display: block !important; } }
@media print, screen and (min-width: 1200px) {
  .hidden-xl {
    display: none !important; }

  .visible-xl {
    display: block !important; } }
.order1 {
  -ms-flex-order: 1;
  order: 1; }

.order2 {
  -ms-flex-order: 2;
  order: 2; }

.order3 {
  -ms-flex-order: 3;
  order: 3; }

@media print, screen and (min-width: 768px) {
  .order1-md {
    -ms-flex-order: 1;
    order: 1; }

  .order2-md {
    -ms-flex-order: 2;
    order: 2; }

  .order3-md {
    -ms-flex-order: 3;
    order: 3; } }
@media print, screen and (min-width: 992px) {
  .order1-lg {
    -ms-flex-order: 1;
    order: 1; }

  .order2-lg {
    -ms-flex-order: 2;
    order: 2; }

  .order3-lg {
    -ms-flex-order: 3;
    order: 3; } }
@media print, screen and (min-width: 1200px) {
  .order1-xl {
    -ms-flex-order: 1;
    order: 1; }

  .order2-xl {
    -ms-flex-order: 2;
    order: 2; }

  .order3-xl {
    -ms-flex-order: 3;
    order: 3; } }
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media print, screen and (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media print, screen and (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media print, screen and (min-width: 1200px) {
    .container {
      max-width: 1110px; } }

.container-full {
  margin: 0 calc(50% - 50vw); }

.container-wide {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.grid-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

[class*="col-"] {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.grid-row-no-gutters {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.grid-row-no-gutters > .col,
.grid-row-no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.d-flex {
  display: flex;
  flex-wrap: wrap; }

.items-c {
  align-items: center; }

.items-b {
  align-items: flex-end; }

.justify-c {
  justify-content: center; }

.justify-sb {
  justify-content: space-between; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

@media print, screen and (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }

  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media print, screen and (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }

  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }

  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-lg-2-5 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media print, screen and (min-width: 1200px) {
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }

  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
/* ---------------------------------------------------------------------------------------------------------
 module
--------------------------------------------------------------------------------------------------------- */
[data-action] {
  color: #444444; }

a {
  text-decoration: none;
  transition: all .2s ease-in; }

a:link,
a:visited {
  color: #3299FF; }

a:hover,
a:active {
  color: #0056b3; }

a[target="_blank"] {
  color: limegreen; }

.link-filter a:hover,
a.link-filter:hover,
button.link-filter:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -moz-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  cursor: pointer; }

.btn {
  display: inline-block;
  padding: .8em 1em;
  text-align: center;
  color: #fff !important;
  background: #00b8ee;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-weight: bold; }
  @media print, screen and (min-width: 768px) {
    .btn {
      width: 40%; } }
  .btn.btn_back, .btn.btn_reset {
    background: gray; }
  .btn.btn_conf, .btn.btn_send {
    background: #00b8ee; }

button.btn {
  border: none; }

.mt1 {
  margin-top: 1em; }

.mt2 {
  margin-top: 2em; }

.mt3 {
  margin-top: 3em; }

.mb1 {
  margin-bottom: 1em; }

.mb2 {
  margin-bottom: 2em; }

.mb3 {
  margin-bottom: 3em; }

@media print, screen and (min-width: 768px) {
  .mt0-md {
    margin-top: 0; }

  .mb0-md {
    margin-bottom: 0; } }
@media print, screen and (min-width: 992px) {
  .mt0-lg {
    margin-top: 0; }

  .mb0-lg {
    margin-bottom: 0; } }
@media print, screen and (min-width: 1200px) {
  .mt0-xl {
    margin-top: 0; }

  .mb0-xl {
    margin-bottom: 0; } }
.ptb_box {
  padding-top: 50px;
  padding-bottom: 50px; }
  @media print, screen and (min-width: 992px) {
    .ptb_box {
      padding-top: 100px;
      padding-bottom: 100px; } }

.pt_box {
  padding-top: 50px; }
  @media print, screen and (min-width: 992px) {
    .pt_box {
      padding-top: 100px; } }

.align-l {
  text-align: left; }

.align-c {
  text-align: center; }

.align-r {
  text-align: right; }

.f-bold {
  font-weight: bold; }

.fz12 {
  font-size: 1.2rem; }

.fz13 {
  font-size: 1.3rem; }

.fz14 {
  font-size: 1.4rem; }

.fz15 {
  font-size: 1.5rem; }

.fz16 {
  font-size: 1.6rem; }

.fz17 {
  font-size: 1.7rem; }

.fz18 {
  font-size: 1.8rem; }

.fz20 {
  font-size: 2.0rem; }

.fz22 {
  font-size: 2.2rem; }

.fz24 {
  font-size: 2.4rem; }

.fz30 {
  font-size: 3.0rem; }

.fz34 {
  font-size: 3.4rem; }

/* indent 二行目以降を1字下げる*/
.att {
  padding-left: 1em;
  text-indent: -1em; }

/* カウンタ */
ol.counter {
  counter-reset: item;
  list-style-type: none;
  padding-left: 0; }

ol.counter li {
  text-indent: -1.3em;
  padding-left: 1.3em; }

ol.counter li:before {
  counter-increment: item;
  content: counter(item) ".";
  padding-right: .5em; }

ul.list-disc {
  list-style: none; }

ul.list-disc li {
  position: relative;
  padding-left: 1em;
  line-height: 1.4;
  margin-bottom: .8em; }

ul.list-disc li:last-child {
  margin-bottom: 0; }

ul.list-disc li::after {
  display: block;
  content: '';
  position: absolute;
  top: .3em;
  left: 0em;
  width: 6px;
  height: 6px;
  background-color: #00b8ee;
  border-radius: 100%; }

/* dl_table
----------------------------------------------------------*/
dl.dl_table,
.dl_table dt,
.dl_table dd {
  box-sizing: border-box;
  text-align: left; }

.dl_table dt,
.dl_table dd {
  padding: 15px;
  border-top: 1px solid #ccc; }

.dl_table dt {
  background: #eee;
  font-weight: bold; }

.dl_table dd {
  padding-bottom: 15px; }

.dl_table dd:after {
  content: '';
  display: block;
  clear: both; }

@media print, screen and (min-width: 992px) {
  /* Tablet PC */
  dl.dl_table {
    background: #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc; }

  .dl_table dt,
  .dl_table dd {
    padding: 15px 15px 0 15px; }

  .dl_table dt {
    width: 25%;
    float: left; }

  .dl_table dd {
    background: #fff;
    padding-bottom: 15px;
    margin-left: 25%;
    border-left: 1px solid #ccc; } }
/* table
----------------------------------------------------------*/
.tbl01 {
  width: 100%;
  border-right: #00b8ee solid 1px; }

.tbl01 thead th {
  background: #00b8ee;
  border-right: white solid 1px;
  border-bottom: white solid 1px;
  color: #fff;
  padding: 10px 15px;
  width: 50%; }
  .tbl01 thead th:last-child {
    border-bottom: #00b8ee solid 1px; }

.tbl01 tbody th {
  background: #00b8ee;
  color: #fff;
  padding: 10px 15px;
  border-bottom: white solid 1px;
  vertical-align: top; }

.tbl01 tbody tr:last-child th {
  border-bottom: #00b8ee solid 1px; }

.tbl01 tbody td {
  background: #fff;
  padding: 10px 15px;
  border-left: #00b8ee solid 1px;
  border-bottom: #00b8ee solid 1px;
  vertical-align: top; }

.tbl02 {
  width: 100%; }

.tbl02 th {
  background: #eee;
  padding: 10px 15px;
  border: #ccc solid 1px;
  width: 20%;
  text-align: left; }

.tbl02 td {
  padding: 10px 15px;
  border: #ccc solid 1px; }

@media screen and (max-width: 640px) {
  .tbl02 th {
    width: 100%;
    display: block; }

  .tbl02 td {
    width: 100%;
    display: block; } }
@media screen and (max-width: 1200px) {
  .tbl_scroll {
    overflow-x: auto; }
    .tbl_scroll .tbl_scroll::-webkit-scrollbar {
      height: 10px; }
    .tbl_scroll .tbl_scroll::-webkit-scrollbar-track {
      margin: 0 2px;
      background: #ccc;
      border-radius: 5px; }
    .tbl_scroll .tbl_scroll::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: #666; } }
.tbl03 {
  min-width: 1000px;
  margin-bottom: 10px; }

.tbl03 {
  width: 100%;
  border-right: #00b8ee solid 1px; }

.tbl03 thead th {
  background: #00b8ee;
  border-right: white solid 1px;
  border-bottom: white solid 1px;
  color: #fff;
  padding: 10px 15px; }
  .tbl03 thead th:last-child {
    border-bottom: #00b8ee solid 1px; }

.tbl03 tbody th {
  background: #00b8ee;
  color: #fff;
  padding: 10px 15px;
  border-bottom: white solid 1px;
  vertical-align: top; }

.tbl03 tbody tr:last-child th {
  border-bottom: #00b8ee solid 1px; }

.tbl03 tbody td {
  padding: 10px 15px;
  border-left: #00b8ee solid 1px;
  border-bottom: #00b8ee solid 1px;
  vertical-align: top; }

.tbl04 {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px; }

.tbl04 th {
  background: #eee;
  padding: 10px 15px;
  border: #ccc solid 1px;
  width: 20%; }

.tbl04 td {
  padding: 10px 15px;
  border: #ccc solid 1px; }

@media screen and (max-width: 640px) {
  .tbl04 th {
    width: 100%;
    display: block; }

  .tbl04 td {
    width: 100%;
    display: block; } }
.tbl_line {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px; }

.tbl_line th {
  padding: 10px 15px;
  border-bottom: #00b8ee solid 2px;
  width: 25%;
  text-align: left; }

.tbl_line td {
  padding: 10px 15px;
  border-bottom: #ccc solid 1px; }

@media screen and (max-width: 640px) {
  .tbl_line th {
    width: 100%;
    display: block;
    border-top: #00b8ee solid 2px;
    background: #eee; }

  .tbl_line td {
    width: 100%;
    display: block;
    border-bottom: none; } }
/* 縦横比の画像
---------------------------------------------------- */
.photo-ofi {
  height: 0;
  display: block;
  padding-bottom: 75%;
  /* 高さを指定（ボックスの横幅を基準） */
  background-color: #EFEFEF;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px; }
  .photo-ofi img {
    max-width: inherit;
    max-height: inherit;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    font-family: 'object-fit: scale-down;';
    position: absolute;
    left: 0;
    top: 0; }

/* ---------------------------------------------------------------------------------------------------------
 print
--------------------------------------------------------------------------------------------------------- */
@media print {
  @page {
    margin: 8mm;
    /*		margin: 10mm 8mm 10mm 8mm;*/
    margin: 0.5cm; }
  * {
    -webkit-print-color-adjust: exact !important;
    background-attachment: initial !important;
    overflow-y: visible !important; }

  html {
    overflow: visible !important;
    zoom: 0.6 !important; }

  body {
    min-width: 1000px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important; }

  .container {
    min-width: 1000px !important; }

  .grid-row {
    margin-left: -15px !important;
    margin-right: -15px !important; }

  .aos-init {
    opacity: 1 !important;
    transform: none !important; }

  .page-break-before {
    page-break-before: always; }

  .cb-header {
    position: static;
    display: none;
    visibility: hidden; } }
